// Colores

$celeste: #3498db;
$celeste-oscuro: #2980b9;

$turquesa: #1abc9c;
$turquesa-oscuro: #16a085; 

//Matices de gris 

$blanco-crema: #ecf0f1;
$silver: #bdc3c7; 
$concrete: #95a5a6;
$gris-claro: #7f8c8d;
$gris-oscuro: #34495e;
$gris-dark: #2c3e50; 

// Paleta de colores pastel

$rosa: #ffb6b6;
$rosa-claro: #fde2e2;
$verde-agua: #aacfcf;
$verde: #679b9b;

// Fonts

 //Sans serif 
 $sans-pro:'Source Sans Pro', sans-serif;
 // <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet"> //
 $varela-round: 'Varela Round', sans-serif; 
 //<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> //
 $sen: 'Sen', sans-serif;
//<link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap" rel="stylesheet"> //
 $roboto: 'Roboto', sans-serif;
 // <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> //

$font-s: 300;