html {
height: 100%;
}

.card {
height: 550px;
display: flex;
align-items: center;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 2px 15px rgba(0,0,0,0);
}

form {
  
}

.content {
    padding: 60px;
}

