//Fonts
$Font: 'Roboto', sans-serif; 


//Colors
$linkandbutton-colors: #68b4e4;
$profession-color: #1dd1a1;
$link-gray-header: #636e72;
$graymoreintense: #2f3542;
$grayintense: #57606f;
$lightgray: #dfe6e9;
$whitesmoke: whitesmoke;
$details-color: #b4be97; 
$box-shadow: 0 3px 5px #333;
$box-shadow-cards: 0 1px 10px lightgray;
$background-hero: #ecf0f1;

//Margin 
$margin-right: 30px;